.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"].itemInput {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button.addButton {
  padding: 5px;
  background-color: #0ed8b7;
  color: white;
  border: 1px solid #00f3d3;
  border-radius: 5px;
  cursor: pointer;
}

button.addButton:hover {
  background-color: #fff;
  color: #0d6045;
}

.todoItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoText {
  margin-left: 10px;
  flex-grow: 1;
}

.todoDate {
  font-size: 0.8rem;
  color: #888;
  margin-left: 15px;
}
